body {
    margin: 0;
    padding: 0;
}
header.small {
    position: fixed;
    top: 0;
    left: 0;
    background: #4099FF;
    width: 100%;
    color: white;
    text-align: center;
}

header.small > div > img {
    margin: 10px 0 6px;
    max-width: 120px;
}

header.expanded > div > img {
    margin-top: 40px;
    max-width: 320px;
    width: 50%;
    min-width: 200px;
}

header > div > h4 {
    margin-top: 0;
    color: #777;
    margin-bottom: 50px;
}

@media (max-width: 360px) {
    header > div > img {
        margin-top: 10px;
    }

    header > div > h4 {
        font-size: 12px;
        margin-bottom: 15px;
    }
}

@media (max-width: 768px) and (min-width: 360px) {
    header > div > h4 {
        font-size: 15px;
        margin-bottom: 25px;
    }
}

#character-count {
    margin-top: 12px;
    font-weight: bold;
}

#clipbtn {
    margin-top: 5px;
    margin-bottom: 5px;
}

#optimization-count {
    display: none;
}

.main {} .optimization {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.optimization-hashtag {
    border-left-color: #d9534f;
}
.optimization-synonym {
    border-left-color: #f0ad4e;
}
.optimization-social {
    border-left-color: #5bc0de;
}