body {
    margin: 0;
    padding: 0;
}
header.small {
    position: fixed;
    top: 0;
    left: 0;
    background: #55acee;
    width: 100%;
    color: white;
    text-align: center;
    z-index: 99;
}

header.small > div > img {
    margin: 10px 0 6px;
    max-width: 120px;
}

header.expanded > div > img {
    margin-top: 40px;
    max-width: 320px;
    width: 50%;
    min-width: 200px;
}

header > div > h4 {
    margin-top: 0;
    color: #777;
    margin-bottom: 50px;
}

footer {
    margin-top: 55px;
}

footer > div {
    color: #aaa;
    font-size: 12px;
    text-align: center;
    margin-bottom: 8px;
}

footer > div > a {
    color: #888;
}

footer > div > a:hover {
    color: #888;
}

@media (max-width: 360px) {
    header > div > img {
        margin-top: 10px;
    }

    header > div > h4 {
        font-size: 12px;
        margin-bottom: 15px;
    }

    footer > div {
        font-size: 8px;
    }
}

@media (max-width: 768px) and (min-width: 360px) {
    header > div > h4 {
        font-size: 15px;
        margin-bottom: 25px;
    }

    footer > div {
        font-size: 10px;
    }
}

textarea.form-control:focus {
    box-shadow: none;
}

.modal-body {
    padding: 0;
}

.modal-body > img {
    width: 100%;
}

.delimiter {
    color: #f1716e;
    font-weight: bold;
    margin: 0 6px;
}

#character-count {
    margin-top: 12px;
    font-weight: bold;
}

#clipbtn {
    margin-top: 5px;
    margin-bottom: 5px;
}

#optimization-count {
    display: none;
}

.main {} .optimization {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.optimization > h4 {
    margin-top: 0;
}

.optimization-hashtag {
    border-left-color: #d9534f;
    /* compensate for white space in the c3 plots */
    padding-bottom: 0;
}

.hashtag-recomm > span {
    position: relative;
    top: 4px;
    font-weight: bold; 
}

.hashtag-recomm > button {
    border-radius: 50px;
    font-size: 14px;
    padding: 4px 6px 4px 7px;
    margin-right: 2px;
}

.optimization > div > div > ul > li {
    padding: 4px 8px;
}

.optimization li:nth-of-type(1) {
    border-left: 3px solid #f1716e;
    background-color: #fff2f2;
}
.optimization li:nth-of-type(2) {
    border-left: 3px solid #55acee;
    background-color: #edf7fe;
}
.optimization li:nth-of-type(3) {
    border-left: 3px solid #b9bb30;
    background-color: #fffff4;
}

.list-group-item > a {
    font-weight: bold;
    left: 4px;
    position: relative;
    top: 1px;
}

.optimization-synonym {
    border-left-color: #f0ad4e;
}
.optimization-social {
    border-left-color: #5bc0de;
    /* compensate for white space in the c3 plots */
    padding-bottom: 0;
}
.optimization-social img {
    width: 30px;
}

.opti-container {
    min-height: 250px;
}

.optimization-bunte {
    border-left-color: #e30614;
}

.optimization-bunte > h4 {
    margin-bottom: 20px;
}

.optimization-bunte > h4 > span {
    background-color: #e30614;
    border-radius: 0.1em;
}

.optimization-bunte > h5 {
    margin-bottom: 0;
}

.optimization-bunte > p {
    font-style: italic;
    font-size: 11px;
}

.optimization-bunte > p:last-child {
    margin-bottom: 0;
}

.container .text-muted {
    margin: 20px 0;
}
